@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
@import "tailwindcss";
:root {
  --background: #F3EFE7;
  --foreground: #171717;
  --heading-font: 'Libre Baskerville', serif;
  --body-font: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  background: var(--background);
  color: var(--foreground);
  line-height: 1.7;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: var(--heading-font);
  font-weight: 700;
  color: #333333; /* Charcoal */
  letter-spacing: 0.5px;
  line-height: 1.3;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: 'Open Sans', sans-serif ;
}